.slide {
    height: 100vh;
    padding: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

#cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/betesousa-metade.png), linear-gradient(rgb(32, 109, 156), rgb(32, 109, 156));
    background-size: auto 100%;
    background-position: left;
    background-repeat: no-repeat;
    align-items: flex-end;
}
#cover-text {
    /* Fallback font-size */
    font-size: 48px;
}

.citation {
    font-family: cursive;
    text-align: justify;
    font-weight: bold;
    font-size: 48px;
}
.citation::first-letter {
    font-size: 100px;
}

.bg-1 {
    background-color: red;
}
.bg-2 {
    background-color: rgb(11, 55, 82);
}
.bg-3 {
    background-color: rgb(2, 59, 2);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32;
}

p {
    font-size: 24;
    text-align: left;
}

.spacer-48 {
    height: 48px;
}